{
  "swagger": "2.0",
  "info": {
    "version": "v2.0",
    "title": "Speech Services API v2.0",
    "description": "Speech Services API v2.0.",
    "contact": {
      "name": "Cognitive Services - Speech Services",
      "email": "crservice@microsoft.com"
    }
  },
  "host": "westus.cris.ai",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/speechtotext/v2.0/accuracytests": {
      "get": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Gets the list of accuracy tests for the authenticated subscription.",
        "operationId": "GetAccuracyTests",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Test"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "models": [
                    {
                      "modelKind": "Acoustic",
                      "datasets": [
                        {
                          "dataImportKind": "Acoustic",
                          "id": "2950611b-c419-4a9f-869b-61d17790cba2",
                          "createdDateTime": "2018-12-05T11:59:38Z",
                          "lastActionDateTime": "2018-12-05T11:59:38Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Acoustic dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                          }
                        }
                      ],
                      "id": "6b4215f3-8907-48da-827a-d648af5b746b",
                      "createdDateTime": "2018-12-05T11:59:38Z",
                      "lastActionDateTime": "2018-12-05T11:59:38Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Acoustic model",
                      "description": "Example for an acoustic model"
                    },
                    {
                      "modelKind": "Language",
                      "baseModel": {
                        "modelKind": "AcousticAndLanguage",
                        "id": "deced76e-b1cc-42a9-9b9f-9d0424b5cd88",
                        "createdDateTime": "2018-12-05T11:59:38Z",
                        "lastActionDateTime": "2018-12-05T11:59:38Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Base model",
                        "description": "Base model description",
                        "properties": {}
                      },
                      "datasets": [
                        {
                          "dataImportKind": "Language",
                          "id": "50566864-bb42-40cc-8c22-213b47a848ef",
                          "createdDateTime": "2018-12-05T11:59:38Z",
                          "lastActionDateTime": "2018-12-05T11:59:38Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Language dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/LanguageData/92d5bfb8-0e94-4ccd-b908-e602d76bf916?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=70acc429-77bb-498a-984f-73d56bc42978"
                          }
                        }
                      ],
                      "id": "2489db1b-ebf0-49b8-8cb9-e34cb43decb2",
                      "createdDateTime": "2018-12-05T11:59:38Z",
                      "lastActionDateTime": "2018-12-05T11:59:38Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Language model",
                      "description": "This is a language model"
                    }
                  ],
                  "dataset": {
                    "dataImportKind": "Acoustic",
                    "id": "66a92af2-a351-4e3d-8d54-c32d1e2fc5ad",
                    "createdDateTime": "2018-12-05T11:59:38Z",
                    "lastActionDateTime": "2018-12-05T11:59:38Z",
                    "status": "Succeeded",
                    "locale": "en-US",
                    "name": "Acoustic dataset",
                    "properties": {
                      "AcceptedLines": "11",
                      "RejectedLines": "2",
                      "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                    }
                  },
                  "wordErrorRate": 0.0,
                  "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                  "id": "35477b5f-309a-447e-9b9a-cd39572e9899",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Running",
                  "name": "Accuracy test",
                  "properties": {}
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Creates a new accuracy test.",
        "operationId": "CreateAccuracyTest",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "testDefinition",
            "in": "body",
            "description": "The details of the new accuracy test.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestDefinition"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "An uploaded file hasn't the expected format."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/accuracytests/{id}": {
      "get": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Gets the accuracy test identified by the given ID.",
        "operationId": "GetAccuracyTest",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Test"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a running operation to complete.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "models": [
                  {
                    "modelKind": "Acoustic",
                    "datasets": [
                      {
                        "dataImportKind": "Acoustic",
                        "id": "3c69140f-e4c4-4ba0-bad5-82e84ae4c764",
                        "createdDateTime": "2018-12-05T11:59:38Z",
                        "lastActionDateTime": "2018-12-05T11:59:38Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Acoustic dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                        }
                      }
                    ],
                    "id": "f2e258b3-87b7-4754-ba7a-552508c852c7",
                    "createdDateTime": "2018-12-05T11:59:38Z",
                    "lastActionDateTime": "2018-12-05T11:59:38Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Acoustic model",
                    "description": "Example for an acoustic model"
                  },
                  {
                    "modelKind": "Language",
                    "baseModel": {
                      "modelKind": "AcousticAndLanguage",
                      "id": "299f8060-0d28-4e41-a880-b94c8f793827",
                      "createdDateTime": "2018-12-05T11:59:38Z",
                      "lastActionDateTime": "2018-12-05T11:59:38Z",
                      "status": "Succeeded",
                      "locale": "en-US",
                      "name": "Base model",
                      "description": "Base model description",
                      "properties": {}
                    },
                    "datasets": [
                      {
                        "dataImportKind": "Language",
                        "id": "8fa6bffd-83b2-443f-a12e-d9a80af20a81",
                        "createdDateTime": "2018-12-05T11:59:38Z",
                        "lastActionDateTime": "2018-12-05T11:59:38Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Language dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/LanguageData/92d5bfb8-0e94-4ccd-b908-e602d76bf916?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=70acc429-77bb-498a-984f-73d56bc42978"
                        }
                      }
                    ],
                    "id": "33effeef-81bd-4886-ad21-e3823398abdd",
                    "createdDateTime": "2018-12-05T11:59:38Z",
                    "lastActionDateTime": "2018-12-05T11:59:38Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Language model",
                    "description": "This is a language model"
                  }
                ],
                "dataset": {
                  "dataImportKind": "Acoustic",
                  "id": "af28d7af-5fc4-45d4-ad88-e0d9457ce5c7",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                  }
                },
                "wordErrorRate": 0.0,
                "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                "id": "e56f95eb-a2c7-4b66-9d0e-b6a6c685b9c4",
                "createdDateTime": "2018-12-05T11:59:38Z",
                "lastActionDateTime": "2018-12-05T11:59:38Z",
                "status": "Running",
                "name": "Accuracy test",
                "properties": {}
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "NotFound",
                "message": "The specified entity cannot be found."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Deletes the accuracy test identified by the given ID.",
        "operationId": "DeleteAccuracyTest",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "The test was successfully deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Custom Speech accuracy tests:"
        ],
        "summary": "Updates the mutable details of the test identified by its id.",
        "operationId": "UpdateAccuracyTest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the accuracy test.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "testUpdate",
            "in": "body",
            "description": "The object containing the updated fields of the test.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Test"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "models": [
                  {
                    "modelKind": "Acoustic",
                    "datasets": [
                      {
                        "dataImportKind": "Acoustic",
                        "id": "1041a5e0-ec9f-4e60-9965-f5645375ff67",
                        "createdDateTime": "2018-12-05T11:59:38Z",
                        "lastActionDateTime": "2018-12-05T11:59:38Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Acoustic dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                        }
                      }
                    ],
                    "id": "1aac469c-ca8c-4056-b75e-b06d59d3ed68",
                    "createdDateTime": "2018-12-05T11:59:38Z",
                    "lastActionDateTime": "2018-12-05T11:59:38Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Acoustic model",
                    "description": "Example for an acoustic model"
                  },
                  {
                    "modelKind": "Language",
                    "baseModel": {
                      "modelKind": "AcousticAndLanguage",
                      "id": "2aa226ba-26d9-4ae3-8025-dbb7dc78ae0a",
                      "createdDateTime": "2018-12-05T11:59:38Z",
                      "lastActionDateTime": "2018-12-05T11:59:38Z",
                      "status": "Succeeded",
                      "locale": "en-US",
                      "name": "Base model",
                      "description": "Base model description",
                      "properties": {}
                    },
                    "datasets": [
                      {
                        "dataImportKind": "Language",
                        "id": "c53a25e7-6005-4f6d-8cec-e600b7f6fafb",
                        "createdDateTime": "2018-12-05T11:59:38Z",
                        "lastActionDateTime": "2018-12-05T11:59:38Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Language dataset",
                        "properties": {
                          "AcceptedLines": "11",
                          "RejectedLines": "2",
                          "ReportUri": "https://www.example.org/LanguageData/92d5bfb8-0e94-4ccd-b908-e602d76bf916?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=70acc429-77bb-498a-984f-73d56bc42978"
                        }
                      }
                    ],
                    "id": "e47b2749-81a8-47c3-b259-0237a503fcab",
                    "createdDateTime": "2018-12-05T11:59:38Z",
                    "lastActionDateTime": "2018-12-05T11:59:38Z",
                    "status": "Running",
                    "locale": "en-US",
                    "name": "Language model",
                    "description": "This is a language model"
                  }
                ],
                "dataset": {
                  "dataImportKind": "Acoustic",
                  "id": "6355d463-4abe-43ca-8db8-9aaa4d644cce",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                  }
                },
                "wordErrorRate": 0.0,
                "resultsUrl": "https://contoso.com/results/9E32D75F-CEE1-47F5-BA32-65E9BBA18743",
                "id": "0447c0fe-5548-470d-8d54-2b3224498942",
                "createdDateTime": "2018-12-05T11:59:38Z",
                "lastActionDateTime": "2018-12-05T11:59:38Z",
                "status": "Running",
                "name": "Accuracy test",
                "properties": {}
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "409": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Conflict",
                "message": "An operation on this resource already in progress."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "An uploaded file hasn't the expected format."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets a list of datasets for the authenticated subscription.",
        "operationId": "GetDatasets",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dataset"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "dataImportKind": "Acoustic",
                  "id": "9e275490-0491-45e5-bc7b-82d05519992f",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Acoustic dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                  }
                },
                {
                  "dataImportKind": "Pronunciation",
                  "id": "50370299-c0ff-4c56-a5b3-bfc77a7128f4",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Pronunciation dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/PronunciationData/a2e6d50d-bf8a-44fc-80d4-f034860148b3?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=a2753a02-e439-4dff-96d6-28022dc9dd26"
                  }
                },
                {
                  "dataImportKind": "Language",
                  "id": "790f6485-c696-4198-ac61-3cb291698fbe",
                  "createdDateTime": "2018-12-05T11:59:38Z",
                  "lastActionDateTime": "2018-12-05T11:59:38Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Language dataset",
                  "properties": {
                    "AcceptedLines": "11",
                    "RejectedLines": "2",
                    "ReportUri": "https://www.example.org/LanguageData/92d5bfb8-0e94-4ccd-b908-e602d76bf916?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=70acc429-77bb-498a-984f-73d56bc42978"
                  }
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/{id}": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets the dataset identified by the given ID.",
        "operationId": "GetDataset",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "headers": {
              "Retry-After": {
                "description": "The minimum number of seconds to wait for a running operation to complete.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "dataImportKind": "Acoustic",
                "id": "84f5c356-313e-4260-a39d-1354842b90c8",
                "createdDateTime": "2018-12-05T11:59:39Z",
                "lastActionDateTime": "2018-12-05T11:59:39Z",
                "status": "Succeeded",
                "locale": "en-US",
                "name": "Acoustic dataset",
                "properties": {
                  "AcceptedLines": "11",
                  "RejectedLines": "2",
                  "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                }
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "NotFound",
                "message": "The specified entity cannot be found."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Deletes the specified dataset.",
        "operationId": "DeleteDataset",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "The dataset was successfully deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "405": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "DeleteNotAllowed",
                "message": "The task is still in use."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Updates the mutable details of the dataset identified by its ID.",
        "operationId": "UpdateDataset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the dataset.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "datasetUpdate",
            "in": "body",
            "description": "The updated values for the dataset.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "dataImportKind": "Acoustic",
                "id": "6a5e2ccf-81c8-4415-914c-6e3c045ce04f",
                "createdDateTime": "2018-12-05T11:59:39Z",
                "lastActionDateTime": "2018-12-05T11:59:39Z",
                "status": "Succeeded",
                "locale": "en-US",
                "name": "Acoustic dataset",
                "properties": {
                  "AcceptedLines": "11",
                  "RejectedLines": "2",
                  "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                }
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "409": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Conflict",
                "message": "An operation on this resource already in progress."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "An uploaded file hasn't the expected format."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/locales": {
      "get": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Gets a list of supported locales for data imports.",
        "operationId": "GetSupportedLocalesForDatasets",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "IReadOnlyDictionary`2",
              "type": "object",
              "properties": {
                "None": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Language": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Acoustic": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Pronunciation": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "CustomVoice": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "LanguageGeneration": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "Acoustic": [
                  "en-US"
                ],
                "Language": [
                  "en-US",
                  "de-DE"
                ],
                "Pronunciation": [
                  "en-US"
                ]
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/datasets/upload": {
      "post": {
        "tags": [
          "Custom Speech datasets for model adaptation:"
        ],
        "summary": "Uploads data and creates a new dataset.",
        "operationId": "UploadDataset",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The name of this data import (always add this string for any import).",
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "Optional description of this data import.",
            "type": "string"
          },
          {
            "name": "locale",
            "in": "formData",
            "description": "The locale of this data import (always add this string for any import).",
            "type": "string"
          },
          {
            "name": "dataImportKind",
            "in": "formData",
            "description": "The kind of the data import (always add this string for any import).",
            "type": "string",
            "enum": [
              "None",
              "Language",
              "Acoustic",
              "Pronunciation",
              "CustomVoice",
              "LanguageGeneration"
            ]
          },
          {
            "name": "properties",
            "in": "formData",
            "description": "Optional properties of this data import (json serialized object with key/values, where all values must be strings)",
            "type": "string"
          },
          {
            "name": "audiodata",
            "in": "formData",
            "description": "A zip file containing the audio data (this and the audio archive file for acoustic data imports).",
            "type": "file"
          },
          {
            "name": "transcriptions",
            "in": "formData",
            "description": "A text file containing the transcriptions for the audio data (this and the transcriptions file for acoustic data imports).",
            "type": "file"
          },
          {
            "name": "languagedata",
            "in": "formData",
            "description": "A text file containing the language or pronunciation data (only this file for language data imports).",
            "type": "file"
          }
        ],
        "responses": {
          "202": {
            "description": "The response contains the location of the operation as header.",
            "headers": {
              "Location": {
                "description": "The URI of the operation.",
                "type": "string",
                "format": "uri"
              },
              "Operation-Location": {
                "description": "The URI of the operation.",
                "type": "string",
                "format": "uri"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before accessing the resource created in this operation.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "An uploaded file hasn't the expected format."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      }
    },
    "/api/speechtotext/v2.0/endpoints": {
      "get": {
        "tags": [
          "Custom Speech endpoints:"
        ],
        "summary": "Gets the list of endpoints for the authenticated subscription.",
        "operationId": "GetEndpoints",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": [
                {
                  "endpointKind": "SpeechRecognition",
                  "models": [
                    {
                      "modelKind": "Acoustic",
                      "datasets": [
                        {
                          "dataImportKind": "Acoustic",
                          "id": "2302f240-1f8a-4563-b56e-684236bfb327",
                          "createdDateTime": "2018-12-05T11:59:39Z",
                          "lastActionDateTime": "2018-12-05T11:59:39Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Acoustic dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/AcousticData/e794815b-9f04-44cb-a725-a965468545e5?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=66fd1721-2daf-4dcb-bec8-d6d40c8744cc"
                          }
                        }
                      ],
                      "id": "f921d060-b313-4316-a22a-62048e7699a6",
                      "createdDateTime": "2018-12-05T11:59:39Z",
                      "lastActionDateTime": "2018-12-05T11:59:39Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Acoustic model",
                      "description": "Example for an acoustic model"
                    },
                    {
                      "modelKind": "Language",
                      "baseModel": {
                        "modelKind": "AcousticAndLanguage",
                        "id": "d6a86556-b9c6-42cb-bacb-6fe29e381917",
                        "createdDateTime": "2018-12-05T11:59:39Z",
                        "lastActionDateTime": "2018-12-05T11:59:39Z",
                        "status": "Succeeded",
                        "locale": "en-US",
                        "name": "Base model",
                        "description": "Base model description",
                        "properties": {}
                      },
                      "datasets": [
                        {
                          "dataImportKind": "Language",
                          "id": "3f6d515d-3a48-4062-861d-070d18020fb8",
                          "createdDateTime": "2018-12-05T11:59:39Z",
                          "lastActionDateTime": "2018-12-05T11:59:39Z",
                          "status": "Succeeded",
                          "locale": "en-US",
                          "name": "Language dataset",
                          "properties": {
                            "AcceptedLines": "11",
                            "RejectedLines": "2",
                            "ReportUri": "https://www.example.org/LanguageData/92d5bfb8-0e94-4ccd-b908-e602d76bf916?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=70acc429-77bb-498a-984f-73d56bc42978"
                          }
                        }
                      ],
                      "id": "dc8cc1b2-4b5d-410b-a82b-c09611dfc53b",
                      "createdDateTime": "2018-12-05T11:59:39Z",
                      "lastActionDateTime": "2018-12-05T11:59:39Z",
                      "status": "Running",
                      "locale": "en-US",
                      "name": "Language model",
                      "description": "This is a language model"
                    }
                  ],
                  "concurrentRecognitions": 1,
                  "contentLoggingEnabled": false,
                  "endpointUrls": {
                    "UniversalWebSocketInteractive": "wss://fedev.develop2.cris.ai/speech/recognition/interactive/cognitiveservices/v1?cid=77CB309E-5780-4DE4-877E-BE91B66FA548"
                  },
                  "id": "75412f78-e3eb-4a6a-bed5-f7f6dd400b18",
                  "createdDateTime": "2018-12-05T11:59:39Z",
                  "lastActionDateTime": "2018-12-05T11:59:39Z",
                  "status": "Succeeded",
                  "locale": "en-US",
                  "name": "Speech endpoint",
                  "description": "Example for speech endpoint"
                }
              ]
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            },
            "examples": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "subscription_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Speech endpoints:"
        ],
        "summary": "Creates a new endpoint.",
        "operationId": "CreateEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "endpoint",
            "in": "body",
            "description": "The details of the endpoint.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointDefinition"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The response contains the location of the operation as header.",
            "headers": {
              "Location": {
                "description": "The URI of the operation.",
                "type": "string",
                "format": "uri"
              },
              "Operation-Location": {
                "description": "The URI of the operation.",
                "type": "string",
                "format": "uri"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before accessing the resource created in this operation.",
                "type": "integer"
              },
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "BadRequest",
                "message": "The request has been incorrect."
              }
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Unauthorized",
                "message": "Authentication is required to access the resource."
              }
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "Forbidden",
                "message": "No permission to access this resource."
              }
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/ErrorContent"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The limit of requests for the resource.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The remaining number of requests until the rate limit is reached.",
                "type": "integer"
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp when the rate limit will be reset formatted as ISO 8601 combined date and time in UTC.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "code": "UnsupportedMediaType",
                "message": "An uploaded file hasn't the expected format."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "schema": {
[...]
